body {
    background-color: #2A9D8F;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10vh 0;
    background-color: #E76F51;
}

#game-area {
    border: 3px solid black;
    background-color: white;
}